.btn {
  background-color: var(--color-dark);
  color: var(--color-white);
  font-family: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border: none;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--color-black);
  }

  &:focus {
    outline: none;
  }

  &--loading {
    padding: 0 2.7rem;
  }

  &--small {
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    margin: 3rem auto 0 auto;
    display: block;
  }
}

.loading {
  height: 4.2rem;
  display: block;
}
